.noticia {
    width: 70%; /* Ajusta el ancho de la noticia */
    height: 400px; /* Ajusta la altura de la noticia */
    padding: 10px; /* Ajusta el espacio interior de la noticia */
    margin: 20px; /* Ajusta el espacio entre las noticias */
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0px; /* Añade bordes redondeados */
    text-align: center;
    transition: all 0.3s ease-in-out;
    border: 2px dashed #4b4b4b; /* Añade un borde de guiones */
}

.noticia img {
    width: 90%;
    height: 70%;
    border-radius: 0px;
}

.noticia h2 {
    color: #333;
    transition: color 0.3s ease-in-out;
}

.noticia p {
    color: #666;
}

.noticia:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.noticia:hover h2 {
    color: #007BFF;
}
